body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.hero_banner {
  height: auto;
  background-image: url(../img/hero-img.png);
  background-position: right;
  background-repeat: no-repeat;
}
@media screen and (max-width: 480px) {
  .hero_banner {
    background-position: bottom;
  }
}
.hero_banner .hero_degradado {
  /* fallback/image non-cover color */
  background-color: #f78f34;
  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient(left, #f78f34 0%, #e6275d 100%);
  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #f78f34), color-stop(100%, #e6275d));
  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient(left, #f78f34 0%, #e6275d 100%);
  /* Opera 11.10+ */
  background-image: -o-linear-gradient(left, #f78f34 0%, #e6275d 100%);
  /* IE10+ */
  background: -ms-linear-gradient(left, #f78f34 0%, #e6275d 100%);
  /* Standard */
  background: linear-gradient(to right, #f78f34 0%, #e6275d 100%);
  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="$from", endColorstr="$to",GradientType=1 );
  opacity: 0.87;
  height: auto;
  padding: 0 0 100px 0;
}
.hero_banner .hero_degradado nav {
  background-color: transparent;
  box-shadow: unset;
  position: fixed;
}
.hero_banner .hero_degradado nav a {
  font-size: 0.8em;
}
.hero_banner .hero_degradado nav .logo-header {
  padding: 10px;
  width: 150px;
}
.hero_banner .hero_degradado nav .logo-header .icon-nav {
  font-size: 1.4em;
  margin: 18px 0 0 0;
}
.hero_banner .hero_degradado .header_container {
  width: 600px;
  max-width: 100%;
  padding: 130px 0 0 50px;
}
.hero_banner .hero_degradado .header_container .header_title {
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  color: #ffffff;
  text-transform: uppercase;
  display: inline-block;
  opacity: 0.6;
}
.hero_banner .hero_degradado .header_container .header_text {
  font-size: 0.9em;
  font-weight: lighter;
  opacity: 0.6;
  color: #ffffff;
  margin: 10px 0 0 0;
  padding: 0;
}
.hero_banner .hero_degradado .promo {
  margin: 40px 0 0 0;
  text-align: center;
}
.hero_banner .hero_degradado .promo .promo_container {
  border-radius: 10px;
  padding: 25px 25px;
  display: inline-block;
  color: white;
  position: relative;
}
.hero_banner .hero_degradado .promo .promo_container:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.hero_banner .hero_degradado .promo .promo_container:hover .promo_btn {
  background-color: #ffffff;
  color: #f78f34 !important;
}
.hero_banner .hero_degradado .promo .promo_container .promo_number {
  font-size: 10em;
  font-weight: 900;
  position: absolute;
  left: -27px;
  top: -53px;
  opacity: 0.2;
}
.hero_banner .hero_degradado .promo .promo_container .promo_number_top {
  font-size: 0.7em;
  text-transform: uppercase;
  text-align: right;
  display: block;
  color: #d6d6d6;
}
.hero_banner .hero_degradado .promo .promo_container .promo_price {
  font-size: 2.4em;
  font-weight: bold;
  letter-spacing: -2px;
  margin: 0;
}
.hero_banner .hero_degradado .promo .promo_container .promo_line {
  border-bottom: solid #ffffff 2px;
  width: 40%;
  margin: 10px 0;
}
.hero_banner .hero_degradado .promo .promo_container .promo_detalles_container {
  margin: 5px 0 0 0;
}
.hero_banner .hero_degradado .promo .promo_container .promo_detalles_container .promo_detalles {
  font-size: 0.9em;
  font-weight: 200;
  display: block;
  margin: 5px 0 0 0;
}
.hero_banner .hero_degradado .promo .promo_container .promo_btn {
  border: solid 2px #ffffff;
  color: #ffffff;
  border-radius: 20px;
  text-align: center;
  width: 150px;
  padding: 5px;
  margin: 10px 0 0 0;
  position: absolute;
  display: block;
}
.hero_banner .hero_degradado .promo .promo_container .promo_btn:hover {
  color: #f78f34;
}

/*# sourceMappingURL=main.css.map */
