.hero_banner
    +horizontal-gradient(#f78f34, #e6275d)
    height: 500px
    nav
        background-color: transparent
        box-shadow: unset
        position: fixed
        a 
            font-size: .8em
        .logo-header
            padding: 10px
            width: 180px
            .icon-nav
                font-size: 1.4em
                margin: 18px 0 0 0
    .header_container 
        width: 600px
        max-width: 100%
        padding: 130px 0 0 50px
        .header_title
            font-size: 1.3em
            font-weight: bold
            letter-spacing: 1px
            margin: 0
            padding: 0
            color: #ffffff
            text-transform: uppercase
            display: inline-block
            opacity: .6
        .header_text
            font-size: .9em
            font-weight: lighter
            opacity: .6
            color: #ffffff
            margin: 10px 0 0 0
            padding: 0
